
.header{
  display: flex;
  padding: 30px;
  justify-content: space-between;
 
}
.header h2{
  font-size: 30px;
}
.header ul{
  display: flex;
  list-style: none;
  gap:20px;
}
.header ul li{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}